* {
  padding: 0;
  margin: 0;
}
  .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .5em 0;
}
.list-item {
  margin-right: 1em;
  font-size: 25px;
}
.center {
  margin: auto;
  text-align: center;
}
.todos-list-container {
  margin-top: 2.5em;
}
.item-container {
  border: 1px solid black;

}
.check-box {
  transform: scale(1.5);
  margin: 0 1em;
}
